.cabecalho__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

.cabecalho__pesquisar__item {
    display: none;
}

@media (min-width:834px) {
    .cabecalho__pesquisar__item {
        display: block;
    }
}



